click
click-datetime~=0.2
click-help-colors~=0.4
requests
reprint
tabulate
bson
pysnow
psutil
pytimeparse
backports.tempfile
cligj
docker
lxml
pycryptodome
pyOpenSSL
PySocks
six
py
decorator
python-magic